@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    height: 80px;
    width: 70px;
}
.container-fluid{
    margin-top: 0;
    background-color: #1e2024;
}
.navbar{
    margin-top: -8px;
    margin-bottom: -8px;
}
.btn{
    width: 90px;
    margin-right: 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}
.main{
    width: 100%;
    background: url(images/bg_4.png);
    background-position: center;
    background-size: cover;
    height: 87vh;
}
.container{
  width: 100%;
  height: 45vh;
  display: grid;
}
  
.form-container{
  margin-left: 350px;
  width: 30%;
  margin-top: 10px;
  height: 83vh;
  display: grid;
  grid-template-columns: 300px 500px;
  grid-template-rows: 700px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  column-gap: 20px;
}
.input-control{
  width: 100%;
  margin: 10px 0px 0px 50px;
  position: relative;
}
form label{
  color: white;
  font-size: 20px;
}
form input , form input{
  width: 80%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  padding: 10px 0;
  font-size: 16px;
  background-color: transparent;
  color: white;
}
form button{
  margin-top: 5px;
  width: 80%;
  padding: 10px 0;
  background-color: white;
  color: #ff7200;
  font-size: 20px;
  border-radius: 10px;
}
form button:hover{
  background-color: #ff7200;
  color: white;
}
@media(max-width: 857px){
    
  .container h1{
      margin-top: 30px;
  }

  .form-container{
      grid-template-columns: 900px;
      grid-template-rows: 400px 800px; 
      margin-left: 50px;
      margin-top: 100px;
  }

  form{
      margin-top: 120px;
  }
}
   
    
    