<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omni</title>
    <link rel="stylesheet" href="home.css">
    <link rel="icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
    
    
</head>
<body>

    <nav class="navbar">
        <div class="container-fluid">
          <img class="navbar-brand" src="images/buslogo.png" alt="Bus logo">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="About.html">Admin</a></li>
            <li><a href="#">View pass</a></li>
          </ul>
          <form class="d-flex" role="search">
            <button class="btn btn-outline-primary" type="submit"><a href="login.php" style="text-decoration: none; color: white;">Login</a></button>
            <button class="btn btn-outline-primary" type="submit"><a href="Register.php" style="text-decoration: none; color: white;">Sign-up</a></button>
          </form>
        </div>
      </nav>
      

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="slider" src="images/slider_1.webp" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img class="slider" src="images/slider_2.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img class="slider" src="images/slider_3.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <hr style="color: brown; height: 10px; width: 50%; margin-left: 350px; margin-top: 70px;"/>

      <div class="row">
        <div class="col-sm-4">
          <img class="content" src="images/customer-care.png">
          <h2 class="col-1">24/7</h2>
          <p class="colu-1">Customer Care</p>
        </div>
        <div class="col-sm-4">
          <img class="content"  src="images/map.png">
          <h2 class="col-2">1000</h2>
          <p class="colu-2">Routes</p>
        </div>
        <div class="col-sm-4">
          <img class="content"  src="images/happy-face.png">
          <h2 class="col-3">0</h2>
          <p class="colu-3">Happy Customer</p>
        </div>
      </div>

      <hr style="color: brown; height: 10px; width: 50%; margin-left: 350px; margin-top: 70px;"/>

      <div class="main">
        <div class="cards">
          <div class="image">
            <img src="images/Tracking-bus.png" style="height: 222px; width: 220px; margin-left: 8px;">
          </div>
          <div class="title">
            <h1 style="font-size: 30px;">Track Bus</h1>
          </div>
          <div class="des">
            <p>You can Track you're Bus Online</p>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img src="images/online-ticket.png" style="height: 222px; width: 220px; margin-left: 10px;">
          </div>
          <div class="title">
            <h1 style="font-size: 30px;">Online Ticket</h1>
          </div>
          <div class="des">
            <p>You can book you're tickets Online</p>
          </div>
        </div>
        <div class="cards">
          <div class="image">
            <img src="images/renewing.png" style="height: 222px; width: 230px; margin-left: 6px; margin-top: -5px;">
          </div>
          <div class="title">
            <h1 style="font-size: 30px;">renewing</h1>
          </div>
          <div class="des">
            <p>You can renew you're pass Online</p>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-content">
          <h3>Omni Website</h3>
          <p>This Website will help you to book you're bus ticket online you dont have to stand in line for hours and also you can track your bus through our app and also renew your pass whenever you want the main objective is you can save your important time and cajn travel where ever you want from anywhere anytime !</p>
          </div><div class="footer-bottom">
            <p>copyright &copy;2023 omni. designed by <span>MITAOE</span></p>
          </div>
      </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
</body>
</html>